:root {
    --signal-size: 16rem;
    --signal-rotation: 25deg;
    --signal-cone-gradient-low-color: #b4bbf425;
    --signal-cone-gradient-high-color: #000000dd;
}

.signal {
    position: relative;
    height: var(--signal-size);
}

.signal::before,
.signal::after {
    content: "";
    position: absolute;
    transform-origin: top;
}

/* These are all pre-computed values derived from rotated circle equations */
.signal::before {
    width: 36rem;
    height: 42.5rem;
    background: conic-gradient(from -0.125turn at 100% 100%,
            var(--signal-cone-gradient-low-color) 0deg,
            var(--signal-cone-gradient-high-color) 25deg 335deg,
            var(--signal-cone-gradient-low-color) 360deg);
    transform: translateX(-3rem) rotateY(25deg) rotateX(-25deg);
    clip-path: polygon(7.5rem 2.6rem, 100% 100%, 0 16rem);
    mask-image: radial-gradient(circle at 1rem 8rem, transparent 0, black 100%);
}

.signal::after {
    width: var(--signal-size);
    height: var(--signal-size);
    background-image: url("assets/radioactive.svg");
    background-size: var(--signal-size);
    background-repeat: no-repeat;
    filter: blur(2px) drop-shadow(0.2rem 0.2rem 3px);
    transform: translateX(-50%) rotateY(25deg) rotateX(-25deg);
}
