.container {
    /* Reduce this bloat with tailwind */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #00d6fc;
    border-radius: 0.5rem;
    background: #1e1d2fcc;
    gap: 2rem;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem;
    gap: 4rem;
}

.divider {
    width: 2rem;
    height: 24rem;
    background-image: repeating-linear-gradient(-45deg, #00d6fc, #00d6fc 10px, transparent 10px, transparent 20px);
}
